<div>
	<%= @user.first_name %>
	<%= @user.last_name %>
	<%= @user.email %>
</div>

<div>
	<% if user_signed_in? %>
	  <% if (session["current_user_id"] == @user.id) || (session["warden.user.user.key"][0][0] == @user.id) %>
	  	<%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-info navbar-btn" %>
	  <% end %>
	<% end %>
</div>

<div>
	<% if user_signed_in? %>
	  <% if (session["current_user_id"] == @user.id) || (session["warden.user.user.key"][0][0] == @user.id) %>
	  	<%= link_to 'Add design', new_design_path(id: @user.id), class: "btn btn-info navbar-btn" %>
	  <% end %>
	<% end %>
</div>

<div>
	<% @designs.each do |design| %>
	  <%= image_tag design.image.url.to_s, class: "image-thumbnail" %>
	  <% if user_signed_in? %>
		<% if session["current_user_id"] == @user.id || (session["warden.user.user.key"][0][0] == @user.id)%>
		  <%= link_to 'Delete', delete_design_path(id: design.id), class: "btn btn-info navbar-btn" %>
	    <% end %>
	    <%= link_to 'Add to Cart', new_cart_path(id: design.id), class: "btn btn-info navbar-btn" %>
	  <% end %>
	<% end %>
	<%= will_paginate @designs %>
</div>